{% extends "header.html" %}
{% block title %}<title>Education</title>{% endblock %}
{% block content %}
<div class="container">
    <div class="my-head">
        <div class="education">
            <h1>Education</h1>
            <table border="0">
                <tbody>
                <tr>
                    <td class="education_table-info">
                        University of Wyoming, Laramie, United States of America
                    </td>
                    <td class="education_table-year">
                        08.2021 – 12.2021
                    </td>
                </tr>
                <tr>
                    <td class="education_table-info_pd">
                        B. Sc. Environmental Systems Science
                    </td>
                </tr>
                <tr>
                    <td class="education_table-info">
                        Insitut für deutsche Sprache und Kultur e.V. an der Martin-Luther-Universität Halle-Wittenberg,
                        online
                    </td>

                    <td class="education_table-year">
                        07.2021
                    </td>
                </tr>
                <tr>
                    <td class="education_table-info_pd">
                        German language (C1)
                    </td>
                </tr>
                <tr>
                    <td class="education_table-info">
                        University of Central Asia (UCA), Khorog, Tajikistan
                    </td>

                    <td class="education_table-year">
                        09.2019 - present
                    </td>
                </tr>
                <tr>
                    <td class="education_table-info_pd">
                        B. Sc. Earth and Environmental Sciences
                    </td>
                </tr>
                <tr>
                    <td class="education_table-info">
                        University of Central Asia, Khorog, Tajikistan
                    </td>

                    <td class="education_table-year">
                        09.2018 – 05.2019
                    </td>
                </tr>
                <tr>
                    <td class="education_table-info_pd">
                        Preparatory Program
                    </td>
                </tr>
                <tr>
                    <td class="education_table-info">
                        Gymnasium #1, Buston, Tajikistan
                    </td>

                    <td class="education_table-year">
                        09.2007 – 06.2018
                    </td>
                </tr>
                <tr>
                    <td class="education_table-info">
                        School of Visual Arts, Buston, Tajikistan
                    </td>

                    <td class="education_table-year">
                        2012 – 2016
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container">
    <div class="my-head">
        <div class="additional-training">
            <h1>Additional Training</h1>
            <table border="0">
                <tbody>
                <tr>
                    <td class="education_table-info">
                        Snowline4Daily Water, Eurac Research, Dushanbe, Tajikistan
                    </td>
                    <td class="education_table-year">
                        09.2022
                    </td>
                </tr>
                <tr>
                    <td class="education_table-info_pd">
                        Learned about national glaciological efforts in Tajikistan and modern tools for remote glacier mass balance and melt water contribution estimation.
                    </td>
                </tr>
                <tr>
                    <td class="education_table-info">
                        Renewable Energy Trip-2022, Deutsch-Kasachische Universität, Kazakhstan
                    </td>

                    <td class="education_table-year">
                        06.2022
                    </td>
                </tr>
                <tr>
                    <td class="education_table-info_pd">
                        Visited renewable energy powerplants around Kazakhstan to learn about best practices of renewable energy generation in the country and compare the green and brown energies.
                    </td>
                </tr>
                <tr>
                    <td class="education_table-info">
                        Rise4Climate: Climate Action Network of Eastern Europe, Caucasus and Central Asia Climate Leadership School, online
                    </td>

                    <td class="education_table-year">
                        04.2021 - 10.2021
                    </td>
                </tr>
                <tr>
                    <td class="education_table-info_pd">
                        While meeting eco-active youth from around the world, gained knowledge about the development of environmental projects/campaigns/actions.
                        <a href="https://infoclimate.org/eng/can-eecca-launches-a-series-of-trainings-rise4climate-climate-leadership-school/" class="education_table-info_pd_link">(Link)</a>
                    </td>
                </tr>
                <tr>
                    <td class="education_table-info">
                        Climate Leadership School, Little Earth, Dushanbe, Tajikistan
                    </td>

                    <td class="education_table-year">
                        03.2021
                    </td>
                </tr>
                <tr>
                    <td class="education_table-info_pd">
                        Learned firsthand about governmental and international projects aimed at adaptation to/mitigation of climate change in Tajikistan and about the initiatives of youth from around the world bringing attention to global warming while expanding the network of eco-activists within Central Asia.
                        <a href="https://leworld.org/tpost/agz28z7251-shkola-klimaticheskogo-liderstva-zaversh" class="education_table-info_pd_link">(Link)</a>
                    </td>
                </tr>
                <tr>
                    <td class="education_table-info">
                        Adventure of Science: Women and Glaciers in Central Asia, Ala-Archa / Bishkek, Kyrgyzstan
                    </td>

                    <td class="education_table-year">
                        09.2019
                    </td>
                </tr>
                <tr>
                    <td class="education_table-info_pd">
                        While learning about mountaineering and glaciology, elaborated on a scientific project connected to the impact of abiotic factors on the biodiversity of alpine environment.
                        <a href="https://www.facebook.com/girlsonice.centralasia/" class="education_table-info_pd_link">(Link)</a>
                    </td>
                </tr>
                <tr>
                    <td class="education_table-info">
                        Learning Landscapes through Environmental Research and Monitoring summer school, GFZ Potsdam, PALESCA project. Naryn, Kyrgyzstan.
                    </td>

                    <td class="education_table-year">
                        07.2019
                    </td>
                </tr>
                <tr>
                    <td class="education_table-info_pd">
                        Got a hands-on experience while learning from the experts in their fields about geology, meteorology, sedimentation, pasture management, wild-life conservation.
                        <a href="https://www.gfz-potsdam.de/en/press/news/details/report-palesca-summer-school" class="education_table-info_pd_link">(Link)</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
