{% extends "header.html" %}
{% block title %}<title>Experience</title>{% endblock %}
{% block content %}
    <div class="container">
        <div class="my-head">
            <div class="experience">
                <h1>Experience</h1>
                <table border="0">
                    <tbody>
                    <tr>
                        <td class="experience_table-info">
                            Instructor/outreach manager, Adventure of Science: Women and Glaciers in Central Asia,
                            Inspiring Girls Expeditions
                        </td>
                        <td class="experience_table-year">
                            03.2020 - present
                        </td>
                    </tr>
                    <tr>
                        <td class="experience_table-info_pd">
                            Participate in planning and running the expedition to the glacier in the communication and
                            instructor departments but also assist with logistics side of organization.
                        </td>
                    </tr>
                    <tr>
                        <td class="experience_table-info">
                            Research assistant, “Cryosphere Observation and Modelling for improved Adaptation in Central
                            Asia” project, University of Fribourg, Switzerland
                        </td>

                        <td class="experience_table-year">
                            03.2020 - present
                        </td>
                    </tr>
                    <tr>
                        <td class="experience_table-info_pd">
                            Translate tutorials from English to Russian, develop a scientific project to further execute
                            in the field in the permafrost areas of Tajikistan.
                        </td>
                    </tr>
                    <tr>
                        <td class="experience_table-info">
                            Research assistant, “Snow-water equivalent for Ghund catchment” Project, University of
                            Central Asia, Tajikistan
                        </td>

                        <td class="experience_table-year">
                            03.2020 - present
                        </td>
                    </tr>
                    <tr>
                        <td class="experience_table-info_pd">
                            Collect and analyze remote sensing data, assist the collection of ground measurement of snow
                            density, preform other research-related lab and literature review tasks.
                        </td>
                    </tr>
                    <tr>
                        <td class="experience_table-info">
                            Book author, Chenimonics International, USAID “Read with Me” Project, Tajikistan
                        </td>

                        <td class="experience_table-year">
                            03.2020 - 02.2019
                        </td>
                    </tr>
                    <tr>
                        <td class="experience_table-info_pd">
                            Developed content and drafts for the environmental book for children of Tajikistan,
                            fact-checked the book, reviewed the English-Tajik translations and attended USAID workshop
                            on writing children’s books.
                        </td>
                    </tr>
                    <tr>
                        <td class="experience_table-info">
                            Research assistant, Pilot Project on “Waste Composition Analysis at UCA’s Khorog Campus”,
                            University of Central Asia, Tajikistan
                        </td>

                        <td class="experience_table-year">
                            05.2020 - 02.2019
                        </td>
                    </tr>
                    <tr>
                        <td class="experience_table-info_pd">
                            Reviewed literature on solid waste composition and elaborated on a project proposal for
                            piloting of effective mechanisms (policies and practices) for waste management on UCA’s
                            Khorog Campus.
                        </td>
                    </tr>
                    <tr>
                        <td class="experience_table-info">
                            Vice-president, UCA Green Community, Tajikistan
                        </td>

                        <td class="experience_table-year">
                            03.2021 - 03.2019
                        </td>
                    </tr>
                    <tr>
                        <td class="experience_table-info_pd">
                            Organized events and supervised projects aimed at raising awareness around concepts like
                            waste separation, recycling of paper and plastic bottles on campus, upcycling through
                            knitting with plastic, with participation of students and local community.
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}