{% extends "header.html" %}

{% block title %}<title>Main</title>{% endblock %}

{% block content %}
    <div class="container">
        <div class="my-head">
            <h1>Randy Jones</h1>
            <p>Wise men speak because they have something to say; fools because they have to say something.</p>
            <div class="awards">
                <h1>Awards</h1>
                <table border="0">
                    <tbody>
                    <tr>
                        <td class="skills_languages_table-info">
                            Dean’s List in the class of 2023
                        </td>
                        <td class="skills_languages_table-year">
                            2021 - 2022
                        </td>
                    </tr>
                    <tr>
                        <td class="skills_languages_table-info">
                            Winner of the national stage of the Student Contest on SDGs in Tajikistan
                        </td>
                        <td class="skills_languages_table-year">
                            2022
                        </td>
                    </tr>
                    <tr>
                        <td class="skills_languages_table-info">
                            Global Undergraduate Exchange Program Scholarship
                        </td>
                        <td class="skills_languages_table-year">
                            2021 - 2022
                        </td>
                    </tr>
                    <tr>
                        <td class="skills_languages_table-info">
                            DAAD University Summer Courses offered in Germany for Foreign Students and Graduates
                        </td>
                        <td class="skills_languages_table-year">
                            2021
                        </td>
                    </tr>
                    <tr>
                        <td class="skills_languages_table-info">
                            Dean’s List in the class of 2023
                        </td>
                        <td class="skills_languages_table-year">
                            2019 - 2020
                        </td>
                    </tr>
                    <tr>
                        <td class="skills_languages_table-info">
                            “Top 15%” scholarship awarded in the class of 2023
                        </td>
                        <td class="skills_languages_table-year">
                            2018 - 2019
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="my-head">
            <div class="outreach">
                <h1>Outreach</h1>
                <table border="0">
                    <tbody>
                    <tr>
                        <td class="skills_languages_table-info">
                            Second High-Level International Conference on International Decade for Action „Water for Sustainable Development“, 2018-2028
                        </td>
                        <td class="skills_languages_table-year">
                            06.2022
                        </td>
                    </tr>
                    <tr>
                        <td class="skills_languages_table-info">
                            GIS-in-Central-Asia Conference 2022
                        </td>
                        <td class="skills_languages_table-year">
                            05.2022
                        </td>
                    </tr>
                    <tr>
                        <td class="skills_languages_table-info">
                            International Online Symposium by Adventure of Science: Women and Glaciers in Central Asia, Inspiring Girls Expeditions
                        </td>
                        <td class="skills_languages_table-year">
                            11.2021
                        </td>
                    </tr>
                    <tr>
                        <td class="skills_languages_table-info">
                            Rhythms of the Land: Indigenous Knowledge, Science, and Thriving Together in a Changing Climate
                        </td>
                        <td class="skills_languages_table-year">
                            10.2021
                        </td>
                    </tr>
                    <tr>
                        <td class="skills_languages_table-info">
                            ISDE12: Youth Forum
                        </td>
                        <td class="skills_languages_table-year">
                            07.2021
                        </td>
                    </tr>
                    <tr>
                        <td class="skills_languages_table-info">
                            Regional Climate Change Negotiations “On the path to a common youth statement„
                        </td>
                        <td class="skills_languages_table-year">
                            04.2021
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="my-head">
            <div class="skills_languages">
                <h1>Skills&Languages</h1>
                <table border="0">
                    <tbody>
                    <tr>
                        <td class="skills_languages_table-info">
                            ArcGIS Pro, QGIS, ERDAS Imagine, R Studio, Microsoft Office
                        </td>
                        <td class="skills_languages_table-year">
                            Hard
                        </td>
                    </tr>
                    <tr>
                        <td class="skills_languages_table-info">
                            Management, communication, attention to details, creativity
                        </td>
                        <td class="skills_languages_table-year">
                            Soft
                        </td>
                    </tr>
                    <tr>
                        <td class="skills_languages_table-info">
                            Russian (C2), English (C1), German (C1, in progress), Tajik/Persian (B2), Shugni (native)
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
